.task-content {
  margin-top: 20px;
  width: 50vw;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #222;
}

.input-wrapper {
  width: 60%;
  height: 50%;
  padding: 0 25px;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  border: 1px solid #fff;
  background-color: rgba(215,215,213, 0.9);
}

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  &__input,&__btn {
    display: block;
  }
  &__input {
    height: 100%;
    font-size: 15px;
    width: 100%;
    border: none;
    // background-color: transparent;
    background-color: rgba(215,215,213, 0.1);
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
  }
  &__input::-webkit-input-placeholder {
    color: #808080;
    font-weight: 500;
  }

  &__btn {
    height: 50%;
    width: 40%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 1.35;
    font-size: 15px;
    position: relative;
    color: #fff;
    background-color: #fe0000;
    border: 1px solid #fff;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
  }
  &__btn span {
    display: block;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(45deg);
    @extend %fa-icon;
    @extend .fas;
    &::before {
      content: fa-content($fa-var-user);
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 860px) {
  .task-form {
    width: 70%;
    &__btn {
      width: 40%;
      font-size: 13px;
    }
  }
  .input-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 772px) {
  .task-form {
    width: 90%;
    &__input,&__btn, &__btn span {
      width: 40%;
      -webkit-transform: skew(0deg);
      -moz-transform: skew(0deg);
      -o-transform: skew(0deg);
    }
    &__btn span {
      width: 100%;
      margin: 0 auto;
      font-size: 13px;
    }
    &__input {
      width: 100%;
    }
  }
  .input-wrapper {
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    padding: 0 5px;
  }
}

@media screen and (max-width: 550px) {
  .task-form {
    &__btn span {
      font-size: 12px;
    }
    &__input::-webkit-input-placeholder {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 525px) {
  .task-form {
    height: 100%;
    &__btn {
      padding: 3px;
    }
    &__btn span {
      font-size: 10px;
      font-weight: 400;
      &::before {
        margin-right: 2px;
      }
    }
    &__input::-webkit-input-placeholder {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 410px) {
  .task-form {
    height: 100%;
    &__btn {
      padding: 3px;
    }
    &__btn span {
      font-size: 9px;
      font-weight: 400;
      position: relative;
      &::before {
        position: absolute;
        // margin-right: 2px;
        top: 12px;
        left: 45%;
      }
    }
  }
}
