<header>
  <h1>Тестовое задание</h1>

    <form id="taskForm">
        <ol class="task__list">
            <li>
                <label>
                    <input type="checkbox">
                    Сверстать форму с полем для ввода и кнопкой как на изображении
                </label>
                <br>
                <img src="../assets/images/form-desktop.jpg" alt="Form on desktop" class="task__img task__img--fluid">
            </li>
            <li>
                <label>
                    <input type="checkbox">
                    Вид поля на мобильных устройствах
                </label>
                <br>
                <img src="../assets/images/form-mobile.jpg" alt="Form on desktop" class="task__img task__img--fluid">
            </li>
            <li>
                <label>
                    <input type="checkbox">
                    Организовать простую валидацию поля (должно быть заполнено)
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                    При нажатии кнопки отправлять данные из формы на любой сервис (на ваше усмотрение) без перезагрузки страницы
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                    После получения ответа вывести уведомление о результате выполнения запроса
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                    Организовать сборку проекта с применением CSS препроцессора и оптимизацией скриптов под старые версии браузеров (SCSS, Babel)
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                    Включить в сборку проекта библиотеку шрифтов font-awesome, добавить любую иконку на кнопку
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox">
                    Внести изменения в систему контроля версий (git)
                </label>
            </li>
        </ol>
    </form>

    <h2 id="taskDone"></div>
</header>
