<section class="task-content">
  <h1>Тестовая форма</h1>
  <div class="container">
    <div class="task">
      <form class="task-form" action="">
        <div class="input-wrapper">
          <input class="task-form__input" type="tel"
          name="phone"
          value=""
          autocomplete="off"
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="Ваш номер..." required title="Международный формат-Код оператора-Личный номер Пример: 375-29-123-45-67">
        </div>
        <button type="submit" class="task-form__btn">
          <span>Заказать</span>
        </button>
      </form>
      <div class="result-submit"></div>
    </div>
  </div>
</section>
